html,
body
{
    margin:0;
    padding:0;
    height:100%;
    overflow: hidden;
}
body
{
    font-family:微软雅黑,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
    color: #826;
    font-size:18px;
}