@media (min-width:1300px)
{
    .card
    {
        width:25%;
        height:50%;
    }
}
@media (max-width: 1300px)  and (min-width : 800px)
{
    .card
    {
        width:50%;
        height:50%;
    }
}
@media (max-width: 800px)
{
    .card
    {
        width:100%;
        height:100%;
    }
}